fastapi
uvicorn
python-multipart
pydantic-settings
email-validator
sqlalchemy
psycopg[binary]
pyjwt
bcrypt
gitpython
httpx
numpy

langchain
langchain-community
langchain-core
langchain-groq
langchain-ollama
langchain-openai
langchain-google-genai
langchain-huggingface
langgraph
langgraph-checkpoint-sqlite
langchain-text-splitters
langchain-chroma
chromadb

tree-sitter
tree-sitter-python
tree-sitter-java
tree-sitter-javascript
